.Characters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  
  li {
    width: 20vw;
    margin: 2em;
    padding: 2rem;

    background-color: #f0f0f0;
    text-align: center;
    list-style-type: none;
  }

  section {
    margin: auto;
    animation: insert 1s linear;
  }

  img {
    width: 10rem;
    margin: auto;
  }

  @keyframes insert {
    from {
      height: 0;
    }

    to {
      height: 100%
    }
  }
}
